* {
    font-family: 'Caslons Egyptian';
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    width: 90%;
    height: auto;
    margin: 20px auto;
}

.header {
    width: 100%;
}

.logo {
    display: inline-block;
}

.navigation {
    display: inline-block;
    vertical-align: -30%;
    width: 75%;
    float: right;
}

.nav li {
    display: inline;
    float: left;
}

.nav li a {
    display: block;
    padding: 5px 16px;
    text-decoration: none;
    text-align: center;
    font-weight: 600;
    border-radius: 5%;
}

.nav li a:hover {
    background-color: black;
    color: white;
}

.contact {
    background-color: purple;
    color: white;
}

.tagscontainer {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-between;
    row-gap: 25%;
}

.tagscontainer a {
    padding: 5px;
    height: 60px;
    font-weight: 600;
    background-color: grey;
    color: white;
    text-align: center;
    border-radius: 2%;
}

.tagscontainer a li {
    padding-top: 4%;
}

.footer {
    height: 30px;
    padding: 10px;
    color: white;
    background-color: black;
    margin-top: 5%;
    text-align: center;
}