@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');
* {
    font-family: 'Martel Sans', sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-weight: 700;
}

body {
    width: 90%;
    height: auto;
    margin: 20px auto;
}

.header {
    width: 100%;
}

.logo {
    display: inline-block;
}

.navigation {
    display: inline-block;
    vertical-align: -30%;
    width: 75%;
    float: right;
}

.nav li {
    display: inline;
    float: left;
}

.nav li a {
    display: block;
    padding: 5px 16px;
    text-decoration: none;
    text-align: center;
    border-radius: 5%;
}

.nav li a:hover {
    background-color: black;
    color: white;
}

.contact {
    background-color: purple;
    color: white;
}

.aboutme {
    text-align: justify;
    margin-top: 40px;
}

.footer {
    height: 30px;
    padding: 10px;
    color: white;
    background-color: black;
    margin-top: 5%;
    text-align: center;
}