@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');
* {
    font-family: 'Martel Sans', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-weight: 700;
}

body {
    width: 90%;
    height: auto;
    margin: 20px auto;
}

.header {
    width: 100%;
    position: relative;
}

.logo {
    display: inline-block;
}

.navigation {
    display: inline-block;
    vertical-align: -30%;
    width: 75%;
    float: right;
}

.nav li {
    display: inline;
    float: left;
}

.nav li a {
    display: block;
    padding: 5px 16px;
    text-decoration: none;
    text-align: center;
    border-radius: 5%;
}

.nav li a:hover {
    background-color: black;
    color: white;
}

.contact {
    background-color: purple;
    color: white;
}

.container {
    margin-top: 40px;
    width: 100%;
    position: relative;
}

.snackrow {
    display: flex;
    margin-top: 25px;
}

.snackleft {
    flex: 0 0 50%;
    max-width: 50%;
}

.intro {
    width: 100%;
    float: left;
    padding: 0px 10px 10px 0px;
}

.timewrap {
    width: 100%;
    float: left;
    margin-top: 20px;
    padding: 15px 0px;
}

.lefttime {
    width: 50%;
    float: left;
    padding: 10px 0px;
}

.lefttime label {
    width: 100%;
    float: left;
    margin-bottom: 0.5rem;
    display: inline-block;
}

.righttime {
    width: 50%;
    float: left;
    padding: 10px 20px;
    background-color: rgb(222 255 218 / .69);
    border-radius: 15px;
    max-width: 225px;
}

.righttime label {
    width: 100%;
    float: left;
    margin-bottom: 0.5rem;
    display: inline-block;
}

.righttime label i {
    margin-right: 5px;
}

.righttime span {
    width: 100%;
    float: left;
    padding-left: 25px;
}

.otherdetails {
    width: 100%;
    float: left;
    margin-top: 20px;
    padding: 15px 0px;
}

.otherleft {
    width: 50%;
    float: left;
}

.otherleft label {
    margin-bottom: 0.5rem;
    display: inline-block;
}

.otherright {
    width: 50%;
    float: left;
}

.otherright label {
    margin-bottom: 0.5rem;
    display: inline-block;
}

.snackright {
    max-width: 50%;
    padding-left: 40px;
}

.description {
    width: 100%;
    margin-top: 40px;
    display: flex;
}

.ingredients {
    width: 100%;
    float: left;
    border: 2px dashed rgb(112 112 112 / .3);
    padding: 20px;
    border-radius: 4px;
    margin-bottom: 20px
}

.ingrecontent {
    width: 100%;
    float: left;
    padding: 0px 20px;
    margin-top: 20px;
}

.ingrecontent p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-weight: 400;
}

.process {
    width: 100%;
    float: left;
    padding: 20px;
    margin-bottom: 20px
}

.procontent {
    width: 100%;
    float: left;
    padding: 0px 20px;
    margin-top: 20px;
}

.procontent p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-weight: 400;
}

.procontent li {
    margin-top: 0;
    margin-bottom: 1rem;
    font-weight: 400;
}

.footer {
    height: 30px;
    padding: 10px;
    color: white;
    background-color: black;
    margin-top: 5%;
    text-align: center;
}